body {
    background-color: black;
}

.about-section {
    text-align: center;
    background-color: #de6600;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 50px;
}

.txt-color {
    color: rgb(255, 255, 255);
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 9px;
}

h2 {
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin-top: 10px;
}
